.head {
    background : #4bb462;
    display : table;
    table-layout : fixed;
    width: 100%;
}
.adduser {
    background : #d5f0ed;
    display : table;
    table-layout : fixed;
    box-align : right;
    width: 100%;
    text-align : center;
    color : black;
    padding-top : 1rem;
    padding-bottom: 1rem;
}
.schedule {
    background : #c9e4e7;
    display : table;
    table-layout : fixed;
    width: 100%;
    text-align : center;
    color : black;
    padding-top : 1rem;
    padding-bottom: 1rem;   
}
.item {
    text-align:center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display:table-cell;
    color : white;
    text-decoration: none;
    font-size :1.1rem;
}

.item:hover {
    background: #0b363b;
}

.item:active {
    background : #0b363b;
    color : white;
}

.hiuser {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.781);  
    margin: 16px 28px 16px 0;
    float: left;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
.trigger:hover {
    color: #1890ff;
  }

.mytitle { 
    color: #ffffff; 
    font-size: 48px; 
    font-weight: 600; 
    line-height: 64px; 
    text-align: center; 
}

.mymargin {
    width: 100px;
    margin: 0 8px 8px 0;
}

.hightravel { 
    color:#002766; 
    font-size: 54px; 
    font-family:"Tahoma";
    font-weight: 600; 
    line-height: 64px; 
    text-align: center; 
    margin : 0 8px 48px 0;
}

.yourtrip { 
    color:#030508; 
    font-size: 44px; 
    font-weight: 600; 
    line-height: 54px; 
    text-align: center; 
    margin : 0 8px 48px 0;
}

.hellouser { 
    color: #ffffff; 
    font-size: 30px; 
    font-weight: 500; 
    line-height: 34px; 
    text-align: center; 
    margin-left: 10vw;
    margin-right: 10vw; 
    margin-top:10vh;
}

.mywarning { 
    color:#f5222d; 
    font-size: 15px; 
    font-weight: 400; 
    text-align: center; 
    margin : 0 8px 8px 0;
}

.myuser { 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 500; 
    line-height: 64px; 
    text-align: center; 
    margin-left:12px;
}

.myuser:hover{
    background:#00474f;
}
  
.introback{
    background:#00474f;
}

.rulelistwrapper {
  display: flex;
  font-family: "primary";
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ruleelement {
  display: flex;
  font-family: "primary";
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rule {
  font-family: "primary";
  width: 250px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  padding: 6px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  top: 50%;
  background: #ccccff;
  border-radius: 20px;
  word-wrap: break-word;
  display: inline-block;
}

.verCenter {
    position:absoulute;
    top: 50%;
    height:20vh;
    margin-top:5vh;
   
}


.schedulelistwrapper {
  display: flex;
  font-family: "primary";
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.scheduleelement {
  display: flex;
  font-family: "primary";
  flex-direction: row;
  justify-content: left;
  align-items: left;
}
