.head {
    background : #4bb462;
    display : table;
    table-layout : fixed;
    width: 100%;
}
.adduser {
    background : #d5f0ed;
    display : table;
    table-layout : fixed;
    box-align : right;
    width: 100%;
    text-align : center;
    color : black;
    padding-top : 1rem;
    padding-bottom: 1rem;
}
.schedule {
    background : #c9e4e7;
    display : table;
    table-layout : fixed;
    width: 100%;
    text-align : center;
    color : black;
    padding-top : 1rem;
    padding-bottom: 1rem;   
}
.item {
    text-align:center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display:table-cell;
    color : white;
    text-decoration: none;
    font-size :1.1rem;
}

.item:hover {
    background: #0b363b;
}

.item:active {
    background : #0b363b;
    color : white;
}

.hiuser {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.781);  
    margin: 16px 28px 16px 0;
    float: left;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
.trigger:hover {
    color: #1890ff;
  }
  